name: Run JMeter Tests - BlazeDemo

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  jmeter-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install JMeter
        run: |
          wget https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xzf apache-jmeter-5.6.3.tgz
          mv apache-jmeter-5.6.3 jmeter

      - name: Install JMeter Plugin Manager and Custom Thread Groups
        run: |
          # Plugin Manager
          wget https://repo1.maven.org/maven2/kg/apc/jmeter-plugins-manager/1.9/jmeter-plugins-manager-1.9.jar -P jmeter/lib/ext

          # CMDRunner (required)
          wget https://repo1.maven.org/maven2/kg/apc/cmdrunner/2.2/cmdrunner-2.2.jar -P jmeter/lib

          # Install Ultimate Thread Group
          java -cp "jmeter/lib/ext/jmeter-plugins-manager-1.9.jar:jmeter/lib/cmdrunner-2.2.jar" org.jmeterplugins.repository.PluginManagerCMD install jpgc-casutg


      - name: Run JMeter Tests
        run: |
          mkdir -p results
          jmeter/bin/jmeter -n -t tests/blazedemo.jmx -l results/results.jtl

      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: results
