name: Run JMeter Tests - BlazeDemo

on:
  push:
    branches: ["main"]

jobs:
  jmeter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Criar diretório de resultados
        run: mkdir -p results

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Download Apache JMeter
        run: |
          wget https://downloads.apache.org/jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xzf apache-jmeter-5.6.3.tgz
          mv apache-jmeter-5.6.3 jmeter

      - name: Instalar JMeter Plugins Manager
        run: |
          mkdir -p jmeter/lib/ext

          # Baixar Plugins Manager oficial
          wget https://jmeter-plugins.org/downloads/file/PluginsManager-1.8.jar \
            -O jmeter/lib/ext/PluginsManager.jar

          # Baixar CMDRunner
          wget https://jmeter-plugins.org/downloads/file/cmdrunner-2.2.jar \
            -O jmeter/lib/cmdrunner-2.2.jar

          ls -R jmeter/lib

      - name: Instalar plugins adicionais via PluginManagerCMD
        run: |
          java -cp "jmeter/lib/ext/PluginsManager.jar:jmeter/lib/cmdrunner-2.2.jar" \
            org.jmeterplugins.repository.PluginManagerCMD install \
            jpgc-casutg,jpgc-tst,jpgc-graphs-basic,jpgc-graphs-additional

          java -cp "jmeter/lib/ext/PluginsManager.jar:jmeter/lib/cmdrunner-2.2.jar" \
            org.jmeterplugins.repository.PluginManagerCMD status

      - name: Verificar instalação de plugins
        run: ls -l jmeter/lib/ext

      - name: Run JMeter test
        run: jmeter/bin/jmeter -n -t tests/blazedemo.jmx -l results/results.jtl

      - name: Upload results JTL
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: results/results.jtl

      - name: Gerar relatório HTML
        run: jmeter/bin/jmeter -g results/results.jtl -o results/html

      - name: Upload do relatório
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-report
          path: result
