name: Run JMeter Tests - BlazeDemo

on:
  push:
    branches: ["main"]

jobs:
  jmeter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Criar diret贸rio de resultados
        run: mkdir -p results

      - name: Listar arquivos do projeto
        run: ls -R

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Download Apache JMeter
        run: |
          wget https://downloads.apache.org/jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xzf apache-jmeter-5.6.3.tgz
          mv apache-jmeter-5.6.3 jmeter

      - name: Instalar Ultimate Thread Group (casutg)
        run: |
          wget https://repo.maven.apache.org/maven2/kg/apc/jmeter-plugins-casutg/2.10/jmeter-plugins-casutg-2.10.jar -P jmeter/lib/ext

      - name: Listar plugins instalados
        run: ls -l jmeter/lib/ext

      - name: Run JMeter test
        run: |
          jmeter/bin/jmeter -n -t tests/blazedemo.jmx -l results/results.jtl

      - name: Upload results JTL
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: results/results.jtl
          
      - name: Verificar arquivo JTL
        run: ls -lh results

      - name: Gerar relat贸rio HTML
        run: jmeter/bin/jmeter -g results/results.jtl -o results/html

      - name: Listar relat贸rio HTML
        run: ls -R results/html

      - name: Upload do relat贸rio
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-report
          path: results/html
