name: JMeter Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  jmeter-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install JMeter
        run: |
          wget https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xzf apache-jmeter-5.6.3.tgz
          mv apache-jmeter-5.6.3 jmeter

      - name: Install JMeter Plugin Manager + Plugins
        run: |
          wget https://repo1.maven.org/maven2/kg/apc/jmeter-plugins-manager/1.9/jmeter-plugins-manager-1.9.jar -P jmeter/lib/ext
          wget https://repo1.maven.org/maven2/com/blazemeter/jmeter-plugins-manager/1.8/jmeter-plugins-manager-1.8.jar -P jmeter/lib/ext
          
          # Install CMDRunner (required to install plugins)
          wget https://repo1.maven.org/maven2/kg/apc/cmdrunner/2.2/cmdrunner-2.2.jar -P jmeter/lib
          
          # Install Custom Thread Groups (UltimateThreadGroup)
          java -cp "jmeter/lib/ext/*:jmeter/lib/*" org.jmeterplugins.repository.PluginManagerCMD install jpgc-casutg

      - name: Run JMeter Tests
        run: |
          mkdir -p results
          jmeter/bin/jmeter -n -t tests/blazedemo.jmx -l results/results.jtl

      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: results
