name: Run JMeter Tests - BlazeDemo

on:
  push:
    branches: ["main"]

jobs:
  jmeter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Criar diretório de resultados
        run: mkdir -p results

      # ----------------------------
      # Instalar JDK 11 (necessário para o PluginManagerCMD)
      # ----------------------------
      - name: Install Java 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Download Apache JMeter
        run: |
          wget https://downloads.apache.org/jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xzf apache-jmeter-5.6.3.tgz
          mv apache-jmeter-5.6.3 jmeter

      - name: Instalar Plugin Manager + CMDRunner
        run: |
          mkdir -p jmeter/lib/ext
          mkdir -p jmeter/lib/cmdrunner

          curl -sSL https://jmeter-plugins.org/get/ \
            -o jmeter/lib/ext/jmeter-plugins-manager.jar

          wget https://repo.maven.apache.org/maven2/kg/apc/cmdrunner/2.2/cmdrunner-2.2.jar \
            -O jmeter/lib/cmdrunner/cmdrunner-2.2.jar

          # >>> ESSENCIAL: Java 11 funciona, Java 17 quebra!
          java -cp "jmeter/lib/ext/jmeter-plugins-manager.jar:jmeter/lib/cmdrunner/cmdrunner-2.2.jar" \
            org.jmeterplugins.repository.PluginManagerCMDInstaller

      - name: Debug listar arquivos
        run: |
          ls -lh jmeter/lib/cmdrunner

      # Instalar CASUTG
      - name: Instalar CASUTG (Ultimate Thread Group)
        run: |
          java -cp "jmeter/lib/ext/*:jmeter/lib/cmdrunner/*" \
            org.jmeterplugins.manager.PluginManagerCMD install jpgc-casutg

      # ----------------------------
      # Agora troca para Java 17 (só para rodar o teste)
      # ----------------------------
      - name: Install Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Run JMeter test
        run: jmeter/bin/jmeter -n -t tests/blazedemo.jmx -l results/results.jtl

      - name: Upload results JTL
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: results/results.jtl

      - name: Gerar relatório HTML
        run: jmeter/bin/jmeter -g results/results.jtl -o results/html

      - name: Upload do relatório
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-report
          path: results/html
